@media only screen and (min-width: 600px) {
  .web-view-dialog {
    width: 90vw !important;
    height: 90vh !important;
  }
}

@media only screen and (min-width: 800px) {
  .web-view-dialog {
    width: 80vw !important;
    height: 80vh !important;
  }
}
